@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    width: 50px;
    height: 100vh;
    background: linear-gradient(#121b6a, #0e165f);
    position: fixed;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 3px 3px #9597af;
    z-index: 999;
}

header .logoHeader {
    width: 130px;
    height: 150px;
    background: #4d57b7;
    border-bottom-left-radius: 100%;
    text-align: center;
    position: relative;
    margin-right: 30px;
    box-shadow: 1px 1px 3px 3px #9597af;
}

header .logoHeader img {
    width: 150px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 0;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
}


header nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    font-size: 1.5em;
    color: #b3b4c7;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 30px;
    background: #ffdecf url(../img/backgorundAnimasi.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

section .left {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
}


section .left .deskripsi h2 {
    margin-left: 30px;
    margin-top: -30px;
    font-size: 3.5rem;
    letter-spacing: -3px;
    color: #3a7ca5;
    font-family: "Fira Sans Condensed",
        sans-serif;
    margin-bottom: 15px;
}

section .left .deskripsi h3 {
    font-size: 2em;
    text-align: center;
    color: #feba29;
    font-family: "Potta One",
        system-ui;
}

section .left p {
    text-indent: 30px;
    font-size: 2rem;
    color: #bebbe2;
    font-family: "Estonia",
        cursive;
    font-weight: bold;
}

section .left .icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

section .left .icon .iconPegawai,
section .left .icon .iconProduk {
    background: linear-gradient(#383f7c, #424fc6)
}

section .left .icon .iconPegawai .memberPegawai,
section .left .icon .iconProduk .memberProduk {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding: 10px;
    border-top: 3px solid #8da3d8;
}

@media (max-width: 768px) {
    section .left {
        width: 100%;
    }

    section .left .deskripsi h1 {
        font-size: 2.5rem;
        /* Menyesuaikan ukuran font di perangkat kecil */
    }

    section .left p {
        font-size: 1.5rem;
    }
}

/* Scrollbar untuk browser berbasis Webkit (Chrome, Edge, Safari) */
section .left .icon .iconPegawai .memberPegawai::-webkit-scrollbar,
section .left .icon .iconProduk .memberProduk::-webkit-scrollbar {
    width: 5px;
}

section .left .icon .iconPegawai .memberPegawai::-webkit-scrollbar-thumb,
section .left .icon .iconProduk .memberProduk::-webkit-scrollbar-thumb {
    background-color: #978eba;
    border-radius: 10px;
}

section .left .icon .iconPegawai .memberPegawai::-webkit-scrollbar-track,
section .left .icon .iconProduk .memberProduk::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}


section .left .icon .iconPegawai,
section .left .icon .iconProduk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
}

section .left .icon .iconPegawai a,
section .left .icon .iconProduk a {
    font-size: 1em;
    border-bottom: 3px solid #5a67a8;
    margin-bottom: 15px;
    color: #ceced4;
}

section .left .icon .iconPegawai .memberPegawai .pegawai,
section .left .icon .iconProduk .memberProduk .produk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid rgb(46, 43, 101);
    background: #5e63ae;
    border-radius: 10px;
    margin: 1px;
    padding-right: 5px;
    width: 100%;
}

section .left .icon .iconPegawai .memberPegawai .pegawai:first-child,
section .left .icon .iconProduk .memberProduk .produk:first-child {
    margin-top: 30px;
}


section .left .icon .iconPegawai .memberPegawai .pegawai .imgPegawai,
section .left .icon .iconProduk .memberProduk .produk .imgProduk {
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .left .icon .iconPegawai .memberPegawai .pegawai .imgPegawai img,
section .left .icon .iconProduk .memberProduk .produk .imgProduk img {
    width: 50px;
}

section .left .icon .iconPegawai .memberPegawai .pegawai .keteranganPegawai,
section .left .icon .iconProduk .memberProduk .produk .keteranganProduk {
    border-left: 3px solid rgb(149, 145, 216);
    padding: 3px;
}

section .left .icon .iconPegawai .memberPegawai .pegawai .keteranganPegawai h3,
section .left .icon .iconProduk .memberProduk .produk .keteranganProduk h3 {
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-left: 5px;
    color: #a3b2bc;
}

section .left .icon .iconPegawai .memberPegawai .pegawai .keteranganPegawai p,
section .left .icon .iconProduk .memberProduk .produk .keteranganProduk p {
    width: 100%;
    font-size: 1.5em;
    text-align: right;
}


section .right {
    width: 50%;
    margin-right: 30px;
}

section .right .imgRight {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

section .right .imgRight img#depan {
    z-index: 2;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 10px #204604);
    position: relative;
    transform: translateX(70px);
}

section .right .imgRight img#belakang {
    z-index: 1;
    position: absolute;
    top: -20px;
    left: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
}

@media (max-width: 768px) {
    section .right {
        width: 100%;
        margin-right: 0;
    }

    section .right .imgRight img#depan {
        width: 80%;
    }
}

/* Pegawai */
.memberPegawaiLengkap,
.memberProdukLengkap {
    padding: 15px;
    max-height: 200vh;
    border-top: 3px solid black;
    background: #ebdab9ed;

}

/* .memberProdukLengkap {
    margin-top: 300px;
} */

.memberPegawaiLengkap h1#title,
.memberProdukLengkap h1#title {
    text-align: center;
    font-size: 3em;
    letter-spacing: -1px;
    font-family: "Fira Sans Condensed",
        sans-serif;
    color: #828223;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.memberPegawaiLengkap .fullPegawai,
.memberProdukLengkap .fullProduk {
    padding: 10px;
    width: 100%;
}

.memberPegawaiLengkap .fullPegawai h1,
.memberProdukLengkap .fullProduk h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin-left: 50px;
    padding: 10px;
    color: #828223;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: "Fira Sans Condensed",
        sans-serif;
}

.memberPegawaiLengkap .fullPegawai .pegawai,
.memberProdukLengkap .fullProduk .produk {
    width: 100%;
    padding: 15px;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    flex-direction: row;
    gap: 10px;
}

/* Styling optional untuk scrollbar */
.memberPegawaiLengkap .fullPegawai .pegawai::-webkit-scrollbar,
.memberProdukLengkap .fullProduk .produk::-webkit-scrollbar {
    height: 3px;
    width: 100px;
}

.memberPegawaiLengkap .fullPegawai .pegawai::-webkit-scrollbar-thumb,
.memberProdukLengkap .fullProduk .produk::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.memberPegawaiLengkap .fullPegawai .pegawai::-webkit-scrollbar-thumb:hover,
.memberProdukLengkap .fullProduk .produk::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.fullPegawai .pegawai .ketPegawai,
.fullProduk .produk .ketProduk {
    background-color: #dfde95e1;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    display: flex;
    max-height: 200px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10px;
    flex-shrink: 0;
    box-shadow: 0 1px 5px rgba(116, 113, 86, 0.352), 0 1px 2px rgba(143, 138, 81, 0.659);
}


.pegawai .ketPegawai .gambarPegawai,
.produk .ketProduk .gambarProduk {
    position: absolute;
    top: 0px;
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.pegawai .ketPegawai .gambarPegawai img,
.produk .ketProduk .gambarProduk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.pegawai .ketPegawai .gambarPegawai img:hover,
.produk .ketProduk .gambarProduk img:hover {
    transition: 1s;
    opacity: 0;
    pointer-events: auto;
}



.pegawai .ketPegawai .deskripsiPegawai,
.produk .ketProduk .deskripsiProduk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-height: 150px;
    flex-direction: column;
}

.pegawai .ketPegawai .deskripsiPegawai h2,
.produk .ketProduk .deskripsiProduk h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #52521b;

}

.pegawai .ketPegawai .deskripsiPegawai h4,
.produk .ketProduk .deskripsiProduk h4 {
    font-size: 2rem;
    color: #777736;
}


.pegawai .ketPegawai .iconPegawai,
.produk .ketProduk .iconProduk {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pegawai .ketPegawai .iconPegawai a,
.produk .ketProduk .iconProduk a {
    font-size: 1.2rem;
}

.pegawai .ketPegawai .iconPegawai a,
.produk .ketProduk .iconProduk a {
    color: #4d81ae;
}

.fullPegawai .iconLengkapPegawai,
.fullProduk .iconLengkapProduk {
    text-align: right;
    margin-right: 100px;
    margin-top: 10px;
}

.fullPegawai .iconLengkapPegawai a,
.fullProduk .iconLengkapProduk a {
    margin: 0 30px;
    font-size: 1.3em;
}

.fullPegawai .iconLengkapPegawai a:first-child,
.fullProduk .iconLengkapProduk a:first-child {
    color: #4f9d4f;
}

.fullPegawai .iconLengkapPegawai a:last-child,
.fullProduk .iconLengkapProduk a:last-child {
    color: #b05050;
}


.memberProdukLengkap .deskripsiLainnyaProduk {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
}

.memberPegawaiLengkap .deskripsiLainnyaPegawai {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 20px;
}

.memberPegawaiLengkap .deskripsiLainnyaPegawai img,
.memberProdukLengkap .deskripsiLainnyaProduk img {
    width: 450px;
}

.memberPegawaiLengkap .deskripsiLainnyaPegawai .textDeskripsiPegawai,
.memberProdukLengkap .deskripsiLainnyaProduk .textDeskripsiProduk {
    margin: 0 20px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-indent: 30px;
}

.memberPegawaiLengkap .deskripsiLainnyaPegawai .textDeskripsiPegawai p,
.memberProdukLengkap .deskripsiLainnyaProduk .textDeskripsiProduk p {
    line-height: 30px;
}