@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');

:root {
    --black: #212026;
    --brown: #bc9745;
    --gray: #67666b;
    --greenYoung: #b0d44c;
    --greenOld: #54711b;
    --white: #f2ffb7;
}

/* Start Login */

.tambah {
    position: absolute;
    top: 100px;
    left: 450px;
    width: 500px;
    padding: 20px;
    background: var(--black);
    border-radius: 10px;
    display: block;
    border: 3px solid var(--gray);
}

.tambah .closeTambah i {
    font-size: 2rem;
    cursor: pointer;
    color: #99aa99;
    transition: .5s;
}

.tambah .closeTambah i:hover {
    transform: scale(1.1);
}

.tambah .imgTambah {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    top: -50px;
    left: 50px;
}

.tambah .imgTambah img {
    width: 40%;
    position: relative;
    left: -50px;
}

.tambah .imgTambah h1 {
    font-size: 3em;
    position: relative;
    left: -70px;
    color: var(--brown);
    font-family: "Fira Sans Condensed",
        sans-serif;
}

.tambah form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -80px;
}

.tambah form h1 {
    color: var(--greenYoung);
    font-size: 2.5rem;
    font-family: "Fira Sans Condensed",
        sans-serif;
}

.tambah form .inputFoto,
.tambah form .inputNama {
    font-size: 1.25rem;
    position: relative;
    --primary: #bc9745;
    margin-top: 15px;
}

.tambah form .inputFoto .input,
.tambah form .inputNama .input {
    all: unset;
    color: #fefefe;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 300px;
}

.tambah form .inputFoto .label,
.tambah form .inputTambah .label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tambah form .inputFoto .input:focus,
.tambah form .inputNama .input:focus {
    border: 1px solid var(--primary);
}

.tambah form .inputFoto .input:is(:focus, :valid)~label,
.tambah form .inputNama .input:is(:focus, :valid)~label {
    transform: translateY(-120%) scale(0.7);
    background-color: var(--gray);
    padding-inline: 0.3rem;
    color: var(--primary);
    border-radius: 5px;
}


.tambah .send {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

/* End Login */

/* Start Singin */
.edit {
    position: absolute;
    top: 100px;
    left: 450px;
    width: 500px;
    padding: 20px;
    background: var(--black);
    border-radius: 10px;
    display: none;
    border: 3px solid var(--gray);
}

.edit .closeSEdit i {
    font-size: 2rem;
    cursor: pointer;
    color: #99aa99;
    transition: .5s;
}

.edit .closeSEdit i:hover {
    transform: scale(1.1);
}

.edit .imgEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    top: -50px;
    left: 50px;
}

.edit .imgEdit img {
    width: 40%;
    position: relative;
    left: -50px;
}

.edit .imgEdit h1 {
    font-size: 3em;
    position: relative;
    left: -70px;
    color: var(--brown);
    font-family: "Fira Sans Condensed",
        sans-serif;
}

.edit form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -80px;
}

.edit form h1 {
    color: var(--greenYoung);
    font-size: 2.5rem;
    font-family: "Fira Sans Condensed",
        sans-serif;
}

.edit form .inputFoto,
.edit form .inputNama {
    font-size: 1.25rem;
    position: relative;
    --primary: #bc9745;
    margin-top: 15px;
}

.edit form .inputFoto .input,
.edit form .inputNama .input {
    all: unset;
    color: #fefefe;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 300px;
}

.edit form .inputFoto .label,
.edit form .inputNama .label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.edit form .inputFoto .input:focus,
.edit form .inputNama .input:focus {
    border: 1px solid var(--primary);
}

.edit form .inputFoto .input:is(:focus, :valid)~label,
.edit form .inputNama .input:is(:focus, :valid)~label {
    transform: translateY(-120%) scale(0.7);
    background-color: var(--gray);
    padding-inline: 0.3rem;
    color: var(--primary);
    border-radius: 5px;
}

.edit .send {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

/* End Singin */